*.sublime-workspace
*.gaddag
*.dawg
.DS_Store
*~
.vscode/
*.diff
*.png
!docs/assets/*.png
*.ipynb_checkpoints/
log*.csv
*.swp
*.out
*.svg
*.dot
*.test
*.csv.gz
data/lexica
*.tar.gz
notebooks/superleaves/leave*
notebooks/superleaves/*.csv
notebooks/logs/*
*.p
*Untitled*
bin/
data/strategy/default_english/quackleleaves*
*.vscode
