<!doctype HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Macondo Interface</title>
    <script src="/static/extern/jquery-2.1.1.js"></script>
    <script src="/static/extern/jquery.jsonrpc.js"></script>
    <script src="/static/extern/underscore.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Hey world</h1>
    <P>
    <label>Method
    <select id="input-method-name" style="width:300px;">
      <option>GaddagService.Generate</option>
      <option>GaddagService.GenerateDawg</option>
      <option>AnagramService.Anagram</option>
      <option>AnagramService.BlankChallenge</option>
      <option>AnagramService.BuildChallenge</option>
    </select>
    </label></P>
    <P>
    <label>Args (Use {} and proper JSON)
      <input type="text" name="args" id="input-args" style="width:600px;"/>
    </label></P>
    <P>
    <button type="button" id="submit-rpc">Submit</button>
    </P>
    <P>
    <textarea style="height: 200px; width:300px;" id="textarea-results"></textarea>
    </P>
</body>
</html>